# MSG91 OTP Widget
MSG91_WIDGET_ID=your_msg91_widget_id_here
MSG91_AUTH_TOKEN=your_msg91_auth_token_here

# Backend API
API_BASE_URL_DEV=http://localhost:3011
API_BASE_URL_PROD=http://<your-server-ip>:4000

# OneSignal Push Notifications
ONESIGNAL_APP_ID=your_onesignal_app_id_here
